[tool.pylint.format]
good-names = ['x', 'y', 'z', 'id', 'ok']

[tool.pylint.messages_control]
disable = [
  'missing-module-docstring',
  'no-name-in-module',
  'useless-import-alias',
  'line-too-long',
  'too-many-arguments',
  'too-few-public-methods',
  'too-many-instance-attributes',
]

[tool.pyright]
stubPath = 'server/typings'
reportUnknownVariableType = false
reportUnknownMemberType = false
reportMissingTypeStubs = false

[tool.pytest.ini_options]
pythonpath = ["."]

[tool.poetry]
name = "llm-api"
version = "0.1.0"
description = ""
authors = ["winstxnhdw <you@example.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
typing-extensions = "^4.9.0"
fastapi = "^0.110.0"
pydantic-settings = "^2.2.1"
uvloop = "^0.19.0"
gunicorn = "^21.2.0"
uvicorn = "^0.29.0"
httptools = "^0.6.1"
supervisor = "^4.2.5"
ctranslate2 = "^4.1.0"
transformers = "^4.39.0"
sentencepiece = "^0.2.0"
protobuf = "^5.26.0"
jinja2 = "^3.1.3"

[tool.poetry.group.dev.dependencies]
pyright = "^1.1.355"
pylint = "^3.0.3"
pytest = "^8.1.1"
ruff = "^0.3.3"
