name: Build

on:
  push:
    paths:
      - .github/workflows/main.yml
      - .dockerignore
      - Dockerfile.build
      - pyproject.toml
      - uv.lock
      - server/**

jobs:
  test:
    uses: winstxnhdw/actions/.github/workflows/uv.yml@main
    with:
      disable-test: true
      install-project: true

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          show-progress: false

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Extract metadata for Docker
        uses: docker/metadata-action@v5.10.0
        id: meta
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Free disk space
        run: |
          sudo rm -rf /opt/hostedtoolcache || true
          sudo rm -rf /usr/share/dotnet || true
          sudo rm -rf /usr/lib/jvm || true
          sudo rm -rf /usr/local/lib/android || true
          docker system prune -af --volumes || true
          docker builder prune -af || true

      - name: Build Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          outputs: type=cacheonly
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          file: Dockerfile.build
          cache-from: type=gha
          cache-to: type=gha,mode=max

  push:
    if: github.ref == 'refs/heads/main'
    needs: [test, build]
    uses: winstxnhdw/actions/.github/workflows/docker-push.yml@main
    with:
      file: Dockerfile.build
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      packages: write

  restart:
    needs: push
    uses: winstxnhdw/actions/.github/workflows/spaces-restart.yml@main
    secrets:
      token: ${{ secrets.HF_TOKEN }}
